@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);

#gallery2-1 SMALL {
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
}
#ext_menu-l .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-l.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-l .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-l .mbr-navbar__hamburger {
  color: #ffffff;
}
